
<div class="signUp-container">
    <div class="signUp-heading">
      <div class="signUp-text">Welcome to westPac </div>
      <div class="form-container">
        <form [formGroup]="signupform" class="form-group"(ngSubmit)="onClickSubmit()">
         
            <label>User Name:</label>
            <input type="text" formControlName="userName">
        
          <br />
         
          <label>password:</label>
          <input type="password" formControlName="password">
        <br />
         
          <label>Confirm password:</label>
          <input type="password" #confirmPassword formControlName="confirmPassword">
          <p *ngIf="confirmPassword.errors">Password must be matched</p>
        <br/>
          <button type="submit" value="submit" [disabled]="signupform.invalid">Submit</button>
          
        </form>
        
       
      </div>
    </div>
 
  </div>

