<div class="login-container">
  <div class="login-heading">
    <h1 class="login-text">Welcome to westPac </h1>
    <div class="form-container">
      <form [formGroup]="myform" (ngSubmit)="onClickSubmit($event)">
        <label>User Name:</label>
        <input type="text" formControlName="userName">
        <br />
        <label>password:</label>
        <input type="password" formControlName="password">
        <br />
        <label>Confirm password:</label>
        <input type="password" #confirmPassword formControlName="confirmPassword">
        <p *ngIf="confirmPassword.errors">Password must be matched</p>

        <br />
        <input type="submit" value="submit" [disabled]="myform.invalid">
      </form>
    </div>
  </div>

</div>