<div class="login-container">
    <div class="login-text">
        Please Login to WestPac
    </div>
      <div class="form-container">
        <form [formGroup]="myform" class="form-group" (ngSubmit)="onClickSubmit()">
            
          <div>
          <label>User Name:</label>
          <input   placeholder = "User Name" type="text" formControlName="userName">
        </div>
          <br />
        <div>
          <label>password:</label>
          <input   placeholder = "Password"  type="password" formControlName="password">
        </div>

          <br />
        <div>

          <input     type="submit" value="submit" [disabled]="myform.invalid">
        </div>

        </form>
        <div class="sign-up-button">
          <span>New User?</span>
          <button  (click)="onClickSignUp()">Sign Up</button>
        </div>
      </div>


    



</div>